.About-page {
    background-color: #ff7700; /* Orange background color */
    color: white; /* White font color */
    padding: 20px;
  }
  
  .about-page-container {
    max-width: 800px;
    margin: 0 auto; /* Center the container horizontally */
  }
  
  .about-page-title {
    text-align: center; /* Center the h2 */
    margin-bottom: 20px; /* Add some space below the title */
  }
  
  .about-page-body {
    font-size: 16px;
    line-height: 1.5;
  }
  