.navbar{
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo {
    width: 150px;
    height: 130px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
    margin-left: 200px;
}
.navbarright{
   display: flex;
   align-items: center;
   gap: 20px;
}

.navbar button.voicesearch{
    width: 20px; /* Adjust the width */
    height: 20px; /* Adjust the height */
    padding: 0px; /* Remove padding */
    border: none; /* Remove border */
    background: none; /* Remove background */
    cursor: pointer;
    transition: 0.3s;
    display: flex; /* Ensure the button behaves like a flex container */
    align-items: center; 
    margin-left: 80px;/* Align the icon vertically */
  }
.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.navbar button:hover{
    background-color: #c25c49;
    color: white;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #da62179f;
}
.navbar li:hover{
    cursor: pointer;
}
.navbar button.voicesearch img {
    width: 140%;
    height: 150%;
  }
  .navbar .basketicon {
    margin-left: 150px; /* Push the basket icon to the right */
  }
  .count{
    position: relative;
  }
.count .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;

}

.search-container {
    position:relative;
    margin-left: 60px;
    
  }
  .search-container .searchbox {
    width: 250px;
    height: 36px;
    padding: 8px 12px 8px 32px; /* Adjust left padding to accommodate the icon */
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
    background-color: white;
    position: relative; /* Set position to relative to contain the absolute-positioned icon */
}

.search-container .searchicon {
    width: 20px;
    position: absolute; /* Position the icon absolutely relative to the search box */
    left: 8px; /* Adjust the left position to align with the left padding of the search box */
    top: 50%; /* Position the icon vertically centered */
    transform: translateY(-50%); 
    z-index: 1;/* Adjust to vertically center the icon */
}

.search-all .search-results-container {
  position: absolute;
  color: #808080;
  background-color: rgb(239, 227, 217);
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeIn 0.5s;
  width: max(23vw, 240px); /* Set width to a maximum of 23vw or 300px */
  /* Positioning */
  top: 110px; /* Adjust the distance from the top */
  right: 400px; /* Align with the left side */
  z-index: 100;
}

.search-results {
  color: black;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  gap: 10px;
  column-gap: 70px;
  width: 100%; /* Occupy full width of the search container */
  max-height: 140px; /* Calculate max height based on viewport height and fixed margin-top */
  overflow-y: scroll; /* Enable vertical scrolling if content exceeds max height */
  margin-right: 10px; /* Add margin to create space between content and scrollbar */
  cursor: pointer;
}


  @media (max-width:1050px){
    .navbar .logo{
      width: 140px;
    }
    .navbar-menu{
      gap: 20px;
      font-size: 17px;
    }
    .navbarright{
      gap: 30px;
    }
    .navbarright img{
      width: 22px;
    }
    .navbarright button{
      padding: 8px 25px;
    }
  }

  @media (max-width:900px){
    .navbar .logo{
      width: 120px;
    }
    .navbar-menu{
      gap: 15px;
      font-size: 16px;
    }
    .navbarright{
      gap: 20px;
    }
    .navbarright img{
      width: 20px;
    }
    .navbarright button{
      padding: 7px 20px;
      font-size: 15px;
    }
  }
  @media (max-width:750px){
    
    .navbar-menu{
      display: none;
    }
    
  }