/* Comparepopup.css */
.compare-popup {
    position: absolute;
    top: 40px;
    left: 0.8%;
    width:fit-content;
    height: 210px;
    background-color: #e77d19f3; /* Tomato background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure it's above other content */
  }
  
  .compare-details {
    display: flex;
    
    position: relative;
  }
  
  .swiggy,
  .zomato {
    margin: 0 20px;
    position: relative;
  }
  
  .divider {
    width: 1px;
    background-color: #a24545;
    margin: 0 20px;
  }

  .swiggy .swiggybutton{
    background-color: white;
    border: 1px solid tomato;
    padding: 3px 3px;
    border-radius: 5px;
    cursor: pointer;
  }
  .zomato .zomatobutton {
    background-color: white;
    border: 1px solid tomato;
    padding: 3px 3px;
    border-radius: 5px;
    cursor: pointer;
  }
  